{% load static %}
<nav id="mainNavbar" class="navbar navbar-vertical navbar-expand-lg scrollbar bg-dark navbar-dark">
            
    <!-- Theme configuration (navbar) -->
        <script>
            let navigationColor = localStorage.getItem('navigationColor'),
                navbar = document.getElementById('mainNavbar');
        
            if(navigationColor != null && navbar != null) {
                if(navigationColor == 'inverted') {
                    navbar.classList.add('bg-dark', 'navbar-dark');
                    navbar.classList.remove('bg-white', 'navbar-light');
                } else {
                    navbar.classList.add('bg-white', 'navbar-light');
                    navbar.classList.remove('bg-dark', 'navbar-dark');
                }
            }
        </script>    
    <div class="container-fluid">
        
        <!-- Brand -->
        <a class="navbar-brand" href="./index.html">
            <img src="{% static 'images/logo-small.png' %}" class="navbar-brand-img logo-light logo-small" alt="..." width="19" height="25">
            <img src="{% static 'images/logo.png' %}" class="navbar-brand-img logo-light logo-large" alt="..." width="125" height="25">

            <img src="{% static 'images/logo-dark-small.png' %}" class="navbar-brand-img logo-dark logo-small" alt="..." width="19" height="25">
            <img src="{% static 'images/logo-dark.png' %}" class="navbar-brand-img logo-dark logo-large" alt="..." width="125" height="25">
        </a>

        <!-- Navbar toggler -->
        <a href="javascript: void(0);" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </a>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenavCollapse">

            <!-- Navigation -->
            <ul class="navbar-nav mb-lg-7">
                {% comment %} <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{%  url 'dashboard:home' %}">
                        <svg viewBox="0 0 24 24" class="nav-link-icon" height="18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M3.753,13.944v8.25h6v-6a1.5,1.5,0,0,1,1.5-1.5h1.5a1.5,1.5,0,0,1,1.5,1.5v6h6v-8.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path><path d="M.753,12.444,10.942,2.255a1.5,1.5,0,0,1,2.122,0L23.253,12.444" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path></svg>
                        <span>Dashboard</span>
                    </a>
                </li> {% endcomment %}
            
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/orders/' %}active{% endif %}" href="{%  url 'orders:orders_list' %}">
                    <svg viewBox="0 0 20 20" class="nav-link-icon" height="30" width="30"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 19.1249H15.921C16.2753 19.125 16.6182 18.9996 16.889 18.7709C17.1597 18.5423 17.3407 18.2253 17.4 17.8759L20.037 2.37593C20.0965 2.02678 20.2776 1.70994 20.5483 1.48153C20.819 1.25311 21.1618 1.12785 21.516 1.12793H22.5"/>
                    <path stroke="currentColor" stroke-width="1.5" d="M7.875 22.125C7.66789 22.125 7.5 21.9571 7.5 21.75C7.5 21.5429 7.66789 21.375 7.875 21.375"/>
                    <path stroke="currentColor" stroke-width="1.5" d="M7.875 22.125C8.08211 22.125 8.25 21.9571 8.25 21.75C8.25 21.5429 8.08211 21.375 7.875 21.375"/>
                    <path stroke="currentColor" stroke-width="1.5" d="M15.375 22.125C15.1679 22.125 15 21.9571 15 21.75C15 21.5429 15.1679 21.375 15.375 21.375"/>
                    <path stroke="currentColor" stroke-width="1.5" d="M15.375 22.125C15.5821 22.125 15.75 21.9571 15.75 21.75C15.75 21.5429 15.5821 21.375 15.375 21.375"/>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.9529 14.6251H5.88193C5.21301 14.625 4.5633 14.4014 4.03605 13.9897C3.5088 13.5781 3.13425 13.002 2.97193 12.3531L1.52193 6.55309C1.49426 6.44248 1.49218 6.32702 1.51583 6.21548C1.53949 6.10394 1.58827 5.99927 1.65846 5.90941C1.72864 5.81955 1.81839 5.74688 1.92089 5.69692C2.02338 5.64696 2.13591 5.62103 2.24993 5.62109H19.4839"/>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 8.625V10.875"/>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.5 8.625V10.875"/>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 8.625V10.875"/>
                    </svg>
                    <span>Orders</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/products/' in  request.path %}active{% endif %}" href="{%  url 'products:products_list' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34" height="25" width="25"><path d="M21.2,12.075l1.16,4.89a5.123,5.123,0,0,1-5.016,6.285H6.655a5.123,5.123,0,0,1-5.016-6.285L2.8,12.075" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/><path d="M9.75,14.25H6.583A4.289,4.289,0,0,1,2.25,10.007V6.75a1.5,1.5,0,0,1,1.5-1.5h16.5a1.5,1.5,0,0,1,1.5,1.5v3.257a4.289,4.289,0,0,1-4.333,4.243H14.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/><path d="M9.750 14.250 A2.250 2.250 0 1 0 14.250 14.250 A2.250 2.250 0 1 0 9.750 14.250 Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/><path d="M10.25.75h3.5a2,2,0,0,1,2,2v2.5a0,0,0,0,1,0,0H8.25a0,0,0,0,1,0,0V2.75A2,2,0,0,1,10.25.75Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/></svg>
                    <span>Products</span>
                    </a>
                </li>
                
            </ul>
            <!-- End of Navigation -->

        </div>
        <!-- End of Collapse -->
    </div>
</nav>