{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'favicon/favicon_custom.ico' %}" sizes="any">
  {{ store.FB_PIXEL|safe }}
  <title>تم الطلب بنجاح</title>
  {% for pixel in landing_page.pixels.all %}
    {{ pixel.pixel_code|safe }}
  {% endfor %}

  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
  <style>
    body {
      margin: 0;
      font-family: 'Cairo', sans-serif;
      background: linear-gradient(135deg, #fdfbfb, #ebedee);
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
    .container {
      background: #fff;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 90%;
      text-align: center;
      animation: fadeIn 0.6s ease-out;
    }
  </style>
</head>
<body>
   {{ landing_page.thank_you_html|safe }}
</body>
</html>
