<div class="btn-group d-none d-lg-flex me-auto">
    <a href="{% url 'orders:orders_list' %}?status=in_progress" class="btn btn-outline-secondary">In progress {% if in_progress %}<span class="badge bg-info">{{in_progress}}</span>{% endif %}</a>
    <a href="{% url 'orders:orders_list' %}?status=in_preparation" class="btn btn-outline-secondary">In preparation {% if in_preparation %}<span class="badge bg-info">{{in_preparation}}</span>{% endif %}</a>
    <a href="{% url 'orders:orders_list' %}?status=in_dispatch" class="btn btn-outline-secondary">In dispatch {% if in_dispatch %}<span class="badge bg-info">{{in_dispatch}}</span>{% endif %}</a>
    <a href="{% url 'orders:orders_list' %}?status=in_delivery" class="btn btn-outline-secondary">In delivery {% if in_delivery %}<span class="badge bg-info">{{in_delivery}}</span>{% endif %}</a>
    <a href="{% url 'orders:orders_list' %}?status=delivered"class="btn btn-outline-secondary">Delivered {% if delivered %}<span class="badge bg-info">{{delivered}}</span>{% endif %}</a>
    <a href="{% url 'orders:orders_list' %}?status=canceled" class="btn btn-outline-secondary">Canceled {% if canceled %}<span class="badge bg-info">{{canceled}}</span>{% endif %}</a>
    <a href="{% url 'orders:orders_list' %}?status=blocked" class="btn btn-outline-secondary">Blocked {% if blocked %}<span class="badge bg-info">{{blocked}}</span>{% endif %}</a>
</div> 